*{
  margin:0;
  padding:0;
}
ul li:hover {
  border-bottom: 3px solid red ;
}
.navbar-nav{
  height: 50px;
}
.navbar{
  height: 70px;
  letter-spacing: 0.5px;
   font-family: 'Times New Roman', Times, serif;
} 